{% load static %}
<div class="section str2-blok2 str2-blok2-color">
    <div class="">
        <ul class="text-d">
            <li><a class="text-d a-color " href="{% url 'mouse' %}" alt="takaya">Мышки</a></li>
            <li><a class="text-d a-color " href="{% url 'keyboards' %}" alt="takaya">Клавиатура</a></li>
            <li><a class="text-d a-color " href="{% url 'monitors' %}" alt="takaya">Монитор</a></li>
            <li><a class="text-d a-color " href="{% url 'microphones' %}" alt="takaya">Микрофон</a></li>
            <li><a class="text-d a-color " href="{% url 'headphones' %}" alt="takaya">Наушники</a></li>
            <li><a class="text-d a-color " href="#" alt="takaya">Модули памяти</a></li>
            <li><a class="text-d a-color " href="#" alt="takaya">Игровые коврики</a></li>
            <li><a class="text-d a-color " href="#" alt="takaya">Геймпады</a></li>
        </ul>
    </div>
</div>
{% block content %}
{% endblock content %}




