{% extends 'base-page.html' %}
{% load static %}
{% block title %}
    Hyperxstore
{% endblock title%}
{% block container %}
    <div class="container">
      <img class="max-min-w" src="{% static 'img/imgHyperX.jpg' %}" alt="HyperX">
    </div>

    <div class="content-blok2-s">
      <div class="section-1"><h2 class="section-h2">Популярные товары</h2></div>

      <div class="section">
        <div class="box">
          <img class="box-img" src="{% static 'img/nav1.webp' %}" alt="garnit">
          <div><h3 class="box-h3-blok3"><a class="text-d font-size-nav a-color" href="#" alt="Техника">Наушники <img class="card-img" src="./info/images/2223606.png " alt=""></a></h3></div>
        </div>
        <div class="box">
          <img class="box-img" src="{% static 'img/nav2.webp' %}" alt="garnit">
          <div><h3 class="box-h3-blok3"><a class="text-d font-size-nav a-color" href="#" alt="Техника">Клавиатуры <img class="card-img" src="./info/images/2223606.png " alt=""></a></h3></div>
        </div>
        <div class="box">
          <img class="box-img" src="{% static 'img/nav3.webp' %}" alt="garnit">
          <div><h3 class="box-h3-blok3"><a class="text-d font-size-nav a-color" href="#" alt="Техника">Микрофоны <img class="card-img" src="./info/images/2223606.png " alt=""></a></h3></div>
        </div>
        <div class="box">
          <img class="box-img" src="{% static 'img/nav4.webp' %}" alt="garnit">
          <div class="mar-box"><h3><a class="text-d font-size-nav a-color" href="#" alt="Техника">Мониторы <img class="card-img" src="./info/images/2223606.png " alt=""></a></h3></div>
        </div>
        <div class="box">
          <img class="box-img" src="{% static 'img/nav5.webp' %}" alt="garnit">
          <div><h3 class="box-h3-blok3"><a class="text-d font-size-nav a-color" href="#" alt="Техника">Мышки <img class="card-img" src="./info/images/2223606.png " alt=""></a></h3></div>
        </div>
      </div>
      <div class="section2">
        <div><h2>Товары в продаже!</h2></div>
      </div>
    </div>

    <div class="">
      <div class="section">
        <div class="box-blok2">
          <img class="blok2-img" src="./info/images/garn1.jpg" alt="garnit">
          <div><h3 class="box-h3-blok3"><a class="text-d font-size-nav a-color" href="#" alt="Техника">Гарнитура</a></h3></div>
        </div>
        <div class="box-blok2">
          <img class="blok2-img" src="./info/images/garn2.jpg" alt="garnit">
          <div><h3 class="box-h3-blok3"><a class="text-d font-size-nav a-color" href="#" alt="Техника">Гарнитура</a></h3></div>
        </div>
        <div class="box-blok2">
          <img class="blok2-img" src="./info/images/garn3.jpg" alt="garnit">
          <div><h3 class="box-h3-blok3"><a class="text-d font-size-nav a-color" href="#" alt="Техника">Гарнитура</a></h3></div>
        </div>
        <div class="box-blok2">
          <img class="blok2-img" src="./info/images/garn4.jpg" alt="garnit">
          <div class="mar-box"><h3><a class="text-d font-size-nav a-color" href="#" alt="Техника">Гарнитура</a></h3></div>
        </div>
        <div class="box">
          <h3 class="content-blok2">Гарнитура <br> с качественным звуком<br> от HyperX</h3>
        </div>
      </div>
    </div>

    <div class="content-blok2-s">
      <div class="section">
        <div class="box">
          <h3 class="content-blok2">Мышка <br> с хорошей<br> чувствительностью<br> от HyperX</h3>
        </div>
        <div class="box-blok2">
          <img class="blok2-img" src="./info/images/mouse1.jpg" alt="garnit">
          <div><h3 class="box-h3-blok3"><a class="text-d font-size-nav a-color" href="#" alt="Техника">Мышка</a></h3></div>
        </div>
        <div class="box-blok2">
          <img class="blok2-img" src="./info/images/mouse2.jpg" alt="garnit">
          <div><h3 class="box-h3-blok3"><a class="text-d font-size-nav a-color" href="#" alt="Техника">Мышка</a></h3></div>
        </div>
        <div class="box-blok2">
          <img class="blok2-img" src="./info/images/mouse3.jpg" alt="garnit">
          <div><h3 class="box-h3-blok3"><a class="text-d font-size-nav a-color" href="#" alt="Техника">Мышка</a></h3></div>
        </div>
        <div class="box-blok2">
          <img class="blok2-img" src="./info/images/mouse4.jpg" alt="garnit">
          <div class="mar-box"><h3><a class="text-d font-size-nav a-color" href="#" alt="Техника">Мышка</a></h3></div>
        </div>
      </div>
    </div>

    <div class="">
      <div class="section">
        <div class="box-blok2">
          <img class="blok2-img" src="./info/images/klav1.jpg" alt="garnit">
          <div><h3 class="box-h3-blok3"><a class="text-d font-size-nav a-color" href="#" alt="Техника">Клавиатура</a></h3></div>
        </div>
        <div class="box-blok2">
          <img class="blok2-img" src="./info/images/klav2.jpg" alt="garnit">
          <div><h3 class="box-h3-blok3"><a class="text-d font-size-nav a-color" href="#" alt="Техника">Клавиатура</a></h3></div>
        </div>
        <div class="box-blok2">
          <img class="blok2-img" src="./info/images/klav3.jpg" alt="garnit">
          <div><h3 class="box-h3-blok3"><a class="text-d font-size-nav a-color" href="#" alt="Техника">Клавиатура</a></h3></div>
        </div>
        <div class="box-blok2">
          <img class="blok2-img" src="./info/images/klav4.jpg" alt="garnit">
          <div class="mar-box"><h3><a class="text-d font-size-nav a-color" href="#" alt="Техника">Клавиатура</a></h3></div>
        </div>
        <div class="box">
          <h3 class="content-blok2"> игровая клавиатура<br> от HyperX</h3>
        </div>
      </div>
    </div>

    <div class="content-blok2-s">
      <div class="section">
        <div class="box">
          <h3 class="content-blok2">Мониторы с  хорошим<br>качаеством изображения<br> от HyperX</h3>
        </div>
        <div class="box-blok2">
          <img class="blok2-img" src="./info/images/mon1.jpg" alt="garnit">
          <div><h3 class="box-h3-blok3"><a class="text-d font-size-nav a-color" href="#" alt="Техника">Гарнитура</a></h3></div>
        </div>
        <div class="box-blok2">
          <img class="blok2-img" src="./info/images/mon2.jpg" alt="garnit">
          <div><h3 class="box-h3-blok3"><a class="text-d font-size-nav a-color" href="#" alt="Техника">Гарнитура</a></h3></div>
        </div>
        <div class="box-blok2">
          <img class="blok2-img" src="./info/images/mon3.jpg" alt="garnit">
          <div><h3 class="box-h3-blok3"><a class="text-d font-size-nav a-color" href="#" alt="Техника">Гарнитура</a></h3></div>
        </div>
        <div class="box-blok2">
          <img class="blok2-img" src="./info/images/mon4.jpg" alt="garnit">
          <div class="mar-box"><h3><a class="text-d font-size-nav a-color" href="#" alt="Техника">Гарнитура</a></h3></div>
        </div>
      </div>
    </div>
{% endblock container %}