{% extends 'base-page.html' %}
{% load static %}
{% block title %}
    Hyperxstore
{% endblock title%}
{% block container %}
<div class="str2-border"><h1>Гарнитура</h1></div>
        
        <div class="section">
            <div class="section str2-blok2 str2-blok2-color">
                <div class="">
                    <ul class="text-d">
                        <li><a class="text-d a-color " href="#" alt="takaya"> Мышки </a></li>
                        <li><a class="text-d a-color " href="#" alt="takaya"> Клавиатура </a></li>
                        <li><a class="text-d a-color " href="#" alt="takaya"> Монитор </a></li>
                        <li><a class="text-d a-color " href="#" alt="takaya"> Микрофон </a></li>
                    </ul>
                    <ul class="text-d">
                        <li><a class="text-d a-color " href="#" alt="takaya"> Мышки </a></li>
                        <li><a class="text-d a-color " href="#" alt="takaya"> Клавиатура </a></li>
                        <li><a class="text-d a-color " href="#" alt="takaya"> Монитор </a></li>
                        <li><a class="text-d a-color " href="#" alt="takaya"> Микрофон </a></li>
                    </ul>
                    <ul class="text-d">
                        <li><a class="text-d a-color " href="#" alt="takaya"> Мышки </a></li>
                        <li><a class="text-d a-color " href="#" alt="takaya"> Клавиатура </a></li>
                        <li><a class="text-d a-color " href="#" alt="takaya"> Монитор </a></li>
                        <li><a class="text-d a-color " href="#" alt="takaya"> Микрофон </a></li>
                    </ul>
                    <ul class="text-d">
                        <li><a class="text-d a-color " href="#" alt="takaya"> Мышки </a></li>
                        <li><a class="text-d a-color " href="#" alt="takaya"> Клавиатура </a></li>
                        <li><a class="text-d a-color " href="#" alt="takaya"> Монитор </a></li>
                        <li><a class="text-d a-color " href="#" alt="takaya"> Микрофон </a></li>
                    </ul>
                </div>
            </div>
            <div class="section str2-blok2">
                <div class="section">
                    <div class="str2-box-blok2">
                      <img class="blok2-img" src="./images/site2.webp" alt="garnit">
                      <div><h3 class="box-h3-blok3"><a class="text-d font-size-nav a-color" href="#" alt="Техника">Гарнитура</a></h3></div>
                    </div>
                    <div class="str2-box-blok2">
                      <img class="blok2-img" src="./images/site2.webp" alt="garnit">
                      <div><h3 class="box-h3-blok3"><a class="text-d font-size-nav a-color" href="#" alt="Техника">Гарнитура</a></h3></div>
                    </div>
                    <div class="str2-box-blok2">
                      <img class="blok2-img" src="./images/site2.webp" alt="garnit">
                      <div class="mar-box"><h3><a class="text-d font-size-nav a-color" href="#" alt="Техника">Гарнитура</a></h3></div>
                    </div>
                </div>

                <div class="section content-blok2-s">
                    <div class="str2-box-blok2">
                      <img class="blok2-img" src="./images/site2.webp" alt="garnit">
                      <div><h3 class="box-h3-blok3"><a class="text-d font-size-nav a-color" href="#" alt="Техника">Гарнитура</a></h3></div>
                    </div>
                    <div class="str2-box-blok2">
                      <img class="blok2-img" src="./images/site2.webp" alt="garnit">
                      <div><h3 class="box-h3-blok3"><a class="text-d font-size-nav a-color" href="#" alt="Техника">Гарнитура</a></h3></div>
                    </div>
                    <div class="str2-box-blok2">
                      <img class="blok2-img" src="./images/site2.webp" alt="garnit">
                      <div class="mar-box"><h3><a class="text-d font-size-nav a-color" href="#" alt="Техника">Гарнитура</a></h3></div>
                    </div>
                </div>

                <div class="section">
                    <div class="str2-box-blok2">
                      <img class="blok2-img" src="./images/site2.webp" alt="garnit">
                      <div><h3 class="box-h3-blok3"><a class="text-d font-size-nav a-color" href="#" alt="Техника">Гарнитура</a></h3></div>
                    </div>
                    <div class="str2-box-blok2">
                      <img class="blok2-img" src="./images/site2.webp" alt="garnit">
                      <div><h3 class="box-h3-blok3"><a class="text-d font-size-nav a-color" href="#" alt="Техника">Гарнитура</a></h3></div>
                    </div>
                    <div class="str2-box-blok2">
                      <img class="blok2-img" src="./images/site2.webp" alt="garnit">
                      <div class="mar-box"><h3><a class="text-d font-size-nav a-color" href="#" alt="Техника">Гарнитура</a></h3></div>
                    </div>
                </div>

                <div class="section content-blok2-s">
                    <div class="str2-box-blok2">
                      <img class="blok2-img" src="./images/site2.webp" alt="garnit">
                      <div><h3 class="box-h3-blok3"><a class="text-d font-size-nav a-color" href="#" alt="Техника">Гарнитура</a></h3></div>
                    </div>
                    <div class="str2-box-blok2">
                      <img class="blok2-img" src="./images/site2.webp" alt="garnit">
                      <div><h3 class="box-h3-blok3"><a class="text-d font-size-nav a-color" href="#" alt="Техника">Гарнитура</a></h3></div>
                    </div>
                    <div class="str2-box-blok2">
                      <img class="blok2-img" src="./images/site2.webp" alt="garnit">
                      <div class="mar-box"><h3><a class="text-d font-size-nav a-color" href="#" alt="Техника">Гарнитура</a></h3></div>
                    </div>
                </div>

                <div class="section">
                    <div class="str2-box-blok2">
                      <img class="blok2-img" src="./images/site2.webp" alt="garnit">
                      <div><h3 class="box-h3-blok3"><a class="text-d font-size-nav a-color" href="#" alt="Техника">Гарнитура</a></h3></div>
                    </div>
                    <div class="str2-box-blok2">
                      <img class="blok2-img" src="./images/site2.webp" alt="garnit">
                      <div><h3 class="box-h3-blok3"><a class="text-d font-size-nav a-color" href="#" alt="Техника">Гарнитура</a></h3></div>
                    </div>
                    <div class="str2-box-blok2">
                      <img class="blok2-img" src="./images/site2.webp" alt="garnit">
                      <div><h3 class="box-h3-blok3"><a class="text-d font-size-nav a-color" href="#" alt="Техника">Гарнитура</a></h3></div>
                    </div>
                </div>
            </div>
        </div>
{% endblock container %}